@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
@import "tailwindcss";
body {
    --font-family: "Dancing Script", cursive;
}
body {
    background-color: #23272f;
}

.devlopBy {
    font-family: var(--font-family);
}

.text-color {
    color: white;
}
